<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AzureDevOpsURI" value="https://yourprojectcollection.visualstudio.com" />
    <add key="PATs" value="your personal access tokens" />
    <add key="TeamProject" value="your project name" />
    <add key="WITypeLevel1" value="Epic"/>
    <add key="WITypeLevel2" value="Feature"/>
    <add key="WITypeLevel3" value="Task"/>
    <add key="LearningPathFile" value="Command.csv" />
    <add key="MetadataFile" value="FieldValue.csv" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>